

.custom-input {
    width: 18rem;
    height: 2.5rem;
    font-size: 1rem;
    border-radius: 0.2rem;
    border: none;
    outline: none;
    padding: 0.2rem 0.8rem;
}

.f-16 {
    font-size: 1rem !important;
}

.f-14 {
    font-size: 0.875rem !important;
}

.f-18 {
    font-size: 1.125rem!important;
}

.f-24 {
    font-size: 1.5rem !important;
}

.opacity-5 {
    opacity: 0.5;
}