.main-nav-bar {
    padding: 1rem;;
    .nav-item {
        .nav-link {
            color: #fff;
        }
    }
    .navbar-brand {
        .logo {
            width: auto;
            height: 3rem;
        }
    }
}

.default-nav-bar {
    border-bottom: 1px solid #b6b4f3;
    .nav-item {
        .nav-link {
            padding: 0;
            font-size: 0.875rem;
            color: #505150;
        }
    }
}