.main-nav-bar {
    padding: 1rem;;
    .nav-item {
        .nav-link {
            color: #fff;
        }
    }
    .navbar-brand {
        .logo {
            width: auto;
            height: 3rem;
        }
    }
}