.custom-table,
.transac-dashboard-table {
    thead {
        tr {
            th {
                font-size: 1rem;
                color: #454b72;
                font-weight: 600;
                padding: 0.8rem 0.5rem;
                vertical-align: middle;
            }
        }
    }
    tbody {
        tr{
            td {
                padding: 0.8rem 0.5rem;
                min-width: 10rem;
                font-size: 0.9rem;
                &.tran-success {
                    color: #21be76;
                    font-weight: 600;
                }
                &.tran-fail {
                    color: #ff4040;
                    font-weight: 600;
                }
            }
        }
    }
}